
  .project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
  }
  
  .project__stack-item {
    list-style: none;
    margin: 0.5em;
    font-weight: bolder;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }
  
  